<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            
            <section name="PlattenTek.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="StudioEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CelesteStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        
        <PlattenTek.Properties.Settings>
            <setting name="DetectFromCeleste" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DesktopLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AutoCompile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoDecompile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeTime" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
            <setting name="LastFolder" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\steamapps\common\Celeste\Mods</value>
            </setting>
        </PlattenTek.Properties.Settings>
        <StudioEditor.Properties.Settings>
            <setting name="DetectFromCeleste" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DesktopLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AutoCompile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoDecompile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeTime" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
        </StudioEditor.Properties.Settings>
        <CelesteStudio.Properties.Settings>
            <setting name="DesktopLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DetectFromCeleste" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoCompile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoDecompile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeTime" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
        </CelesteStudio.Properties.Settings>
    </userSettings>
    <connectionStrings />
</configuration>